$mobile-screen:600px;

$box-shadow: 6px 8px 15px black;
$box-background: #ffefa0 ;
$box-border: solid 2px black;
$box-border-rad: 10px;
$box-h:50px;
$box-w:90%;
$text-color: #f62020;
$stroke:0.8px black;
$size:25px;
